body {
  background-color: #D8D9D7;
  font-family: 'Bitter', serif;
  text-shadow: 1px 1px #cccccc;
  color: white;
}

.navbarwrap {
  display: flex;
  background-color: #D8D9D7;
  font-size: 12px;
  height: 50px;
  width: 100%;
  align-items: center;
}

.navbar {
  margin-left: 2%;
  width: 100px;
  font-size: 20px;
  text-align: center;
}

.navbarright {
  margin-left: auto;
  width: 100px;
  text-align: center;
}

.navbarright2 {
  width: 100px;
  text-align: center;

}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.vl {
  border-left: 2px solid #8C867B;
  height: 70px;
  padding: 110px;
}

.frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 650px;
}

.frontpage h1{
  font-size: 51px;
}

.frontpage p{
  font-size: 20px;
}

#aboutme {
  margin: 30px;
  background: white;
  height: 200%;
  width: auto;
}

#abouttitle {
  font-size: 60px;
  color: #8C867B;
  padding: 46px;
}

#aboutmecontent {
  padding: 48px;
  color: #403D35;
  text-align: center;
}

#aboutmecontent-bottom {
  padding: 56px;
}

.portfoliowork {
  display: grid;
  justify-content: center;
  height: 350px;
  width: auto;
}

.project img{
  height: 250px;
  width: auto;
}

.title {
  font-size: 32px;
  margin: 8vh;
  text-align: center;
}
