body {
  background-color: #F2F2F2;
}

.container h3 {
  font-size: 5vw;
}

.container h4 {
  font-size: 3vw;
}

.container h5 {
  font-size: 1vw;
  color: #3F3E40;
}

.container p {
  font-size: 2.1vw;
}



.nav-item{
  margin: 14px;
}


.container img {
  margin-bottom: 20px;
}

.frontimg {
  height: auto;
  width: 100%;
  margin-bottom: 4vw;
}

.aboutme {
  display: inline-flex;
  gap: 4vh;
}


.aboutme img {
  height: auto;
  margin-bottom: 20vh;
  width: 80%;
}

.photoContainer {
  display: grid;
  gap: 3vh;
  margin: 15vh;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

.photoContainer img {
  height: auto;
  width: 100%;
}

section {
opacity: 0;
transition: opacity 1s;
}

section.visible {
opacity: 1;
}
